*{
    overflow: visible;
}

body{
    background-color: white;
    max-width: 100%;
    max-height: fit-content;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    
   
}

.container{
    min-height: 51em;
}

.bg-video1{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    filter: brightness(50%) ;
}

header{
    display: flex;
    padding: 0.5em;
    padding-left: 2em;
    padding-top: 0;
    margin-top: 0;
    box-shadow: 0px 0px 4px 0px rgb(157, 157, 158);
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

header>div>img{
    margin-top: 1em;
}

header:hover{
    border-bottom: 1px solid  orange;
}

nav{
     margin-left: 10em;
     margin-top: 1em;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li a{
    text-decoration: none;
    margin: 2em;
    padding: 0.5em;
    color: orange;
    font-style: oblique;
    font-weight: bolder;
    font-size: larger;
    
}

nav ul li a:hover{
    text-decoration: underline;
}

nav ul li a:focus{
    border-radius: 0.5em;
    background-color: orange;
    color: black;
}

.search_box{
  margin-right: 3em;
}

.search_box form{
   display: flex;
  margin-top: 10px;
}

.search_box button{
  background: orange;
  border: none;
  padding: 8px 12px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: white;
}


.search_box input{
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}   


h2{
    color: orange;
    text-shadow: 2px 2px 2px black;
    padding-left: 1px;
    font-size: xx-large;
    float: right;
}

section{
    text-align: center;
    top: 35%;
    z-index: 1;
    position: absolute;
    width: 100%;
    font-style: italic;
}

section>h1{
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1px;
    text-shadow: 5px 5px 10px rgb(11, 11, 11);
    color: white;
}

section>p{
    font-size: x-large;
    line-height: 1.5em;
    color: white;
    text-shadow: 5px 5px 10px rgb(11, 11, 11);
}

section>button{
    padding: 0.5em 1.5em;
    font-size: larger;
    font-weight: bolder;
    border: none;
    border-radius: 5em;
    background-color: orange;
    box-shadow: 2px 1px 6px rgb(10, 10, 10);
}

section>button:hover{
    background-color: rgb(233, 178, 13);
}

i{
    margin-right: 10px;
    font-size: 25px;
}

.footer {
  position: absolute;
  background-color: #1f1f1f;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  min-width: 100%;
  top: 170%;
  padding: 1em 2em;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 45px;
  max-width: 1200px;
  margin: auto;
}

.footer-brand h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: orange;
}

.footer-brand i {
  color: orange;
  margin-right: 5px;
}

.footer-links ul,
.footer-links li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links h3,
.footer-contact h3,
.footer-newsletter h3 {
  margin-bottom: 10px;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links i {
  color: orange;
  margin-right: 5px;
}

.footer-contact p,
.footer-newsletter p {
  margin: 8px 0;
}

.footer-contact i {
  color: orange;
  margin-right: 8px;
}

.footer-newsletter form {
  display: flex;
  margin-top: 10px;
}

.footer-newsletter input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.footer-newsletter button {
  background: orange;
  border: none;
  padding: 8px 12px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: white;
}

.footer-newsletter button i{
  color: white;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #444;
  margin-top: 30px;
}

.footer-socials a {
  color: white;
  margin: 0 8px;
  font-size: 20px;
  transition: 0.3s;
}

.footer-socials a:hover {
  color: orange;
}

/*Recipes css*/

.recipe_bg_video{
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
  filter: brightness(40%);
}

.back_btn{
  background-color: black;
  border: 1px solid black;
  margin: 1em 1em;
  padding: 0.5em 0.5em;
  cursor: pointer;
}

.back_btn:hover,
.back_btn i:hover{
  background-color: #363636;
  border-radius: 0.56em;
  color: rgb(254, 2, 2);
}

.back_btn i{
  color: white;
  font-size: xx-large;
  background-color: black;
}

.recipe_video_overlay a{
 text-decoration: none;
 font-size: larger;
 font-style: initial;
 color: black;
 background-color: orange;
 border-radius: 0.5em;
 margin: 2em;
 padding: 0.3em 1em 0.3em 1em;
 text-align: center;
 border: none;
 box-shadow: 1px 2px 5px rgb(129, 128, 128);
 font-weight: bolder;
}

.recipe-nav{
  position: absolute;
  top: 100%;
  text-align: center;
  width: 100%;
  background-color: white;
}

.recipe-nav nav{
  margin: 2em;
  display: flex;
  justify-content: space-evenly;
}

.recipe-nav nav div{
  text-align: center;
  color: orange;
  font-style: none;
  font-size: x-large;
  font-weight: bolder;
  padding: 4em;
  text-shadow: 2px 2px 2px rgb(178, 178, 178);
}

.recipe-nav nav div:hover{
  background-color: black;
  color: white;
  border-radius: 0.3em;
}

@media (min-width: 480px) and (max-width: 767px) {
    section > h1{
      font-size: 2em;
    }

    section > p{
      font-size: larger;
    }

    .recipe_video_overlay a{
      margin: 0.5em;
    }

    .recipe-nav{
      width: 108.5%;
    }

    .recipe-nav nav div{
      padding: 0.5em;
      margin: 0;
    }

    nav ul li a{
      font-size: smaller;
      margin: 0.5em;
    }

    header{
      margin: 0;
      padding: 0.2em;
    }

    nav{
      margin-left: 0;
    }

    h2{
      font-size: small;
      float: right;
    }

    header > div > img {
      height: 2em;
    }

    .search_box button{
      padding: 3px 5px;
    }

    .search_box input {
      padding: 2px;
    }

    .card-container{
  display: grid;
 /* grid-template-columns: 1fr 1fr; /* 2 equal columns */
  grid-template-rows: auto auto auto; /* 2 rows */
  gap: 10px;
  width: 100%;
}

.card-container div {
  margin-left: 5em;
}

.card1 {
 /*grid-column: 1; /* First column */
  grid-row: 1;    /* First row */
  margin-left: 10%;
  padding: 1em 2em;
  font-weight: bolder;
  border: none;
  border-radius: 0.3em;
  box-shadow: 2px 2px 4px black;
  font-size: large;
}

.card2 {
  /*grid-column: 2; /* Second column */
  grid-row: 2; 
  margin-left: 10%;
  padding: 1em 2em;
  font-weight: bolder;
  border: none;
  border-radius: 0.3em;
  box-shadow: 2px 2px 4px black;
  font-size: large;   /* First row */
}

.card3 {
 /* grid-column: 1 / span 2; /* Span across both columns */
  grid-row: 3;             /* Second row */
  margin-left: 10%;
  padding: 1em 2em;
  font-weight: bolder;
  border: none;
  border-radius: 0.3em;
  box-shadow: 2px 2px 4px black;
  font-size: large;
}

.footer{
  margin-top: 195%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0px;
  max-height: fit-content;
  margin: auto;  
}

}

@media (min-width: 768px) and (max-width: 1024px) {
    section > h1{
      font-size: 3em;
    }

    section > p{
      font-size: large;
    }

    .recipe_video_overlay a{
      margin: 1em;
    }

    .recipe-nav{
      width: 100%;
    }

    .recipe-nav nav div {
      margin-bottom: 5em;
      padding: 0em;
    }

    .recipe-nav nav div:hover{
      padding: 0.5em 1em;
      font-size: larger;
    }

     nav ul li div {
      font-size: small;
      margin: 10em;
    }

    nav{
      margin-left: 1em;
    }

    h2{
      font-size: large;
      float: right;
    }

    header > div > img {
      height: 2em;
    }

    .search_box button{
      padding: 4px 6px;
    }

    .search_box input {
      padding: 3px;
    }

    .card-container{
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 equal columns */
  grid-template-rows: auto auto; /* 2 rows */
  gap: 10px;
}

.card1 {
  grid-column: 1; /* First column */
  grid-row: 1;    /* First row */
}

.card2 {
  grid-column: 2; /* Second column */
  grid-row: 1;    /* First row */
}

.card3 {
  grid-column: 1 / span 2; /* Span across both columns */
  grid-row: 2;             /* Second row */
}

.card-container div {
  text-align:center;
}

.card-container .card1 > button{
  margin: 0;
}

.card-container .card2 > button{
  margin: 0;
}

.card-container .card3 > button{
  margin: 0;
  padding: 0.5em 1em;
  font-weight: bolder;
  font-size: large;
}

.footer{
  margin-top: 53%;
}

}

@media (min-width: 1025px) and (max-width: 1440px){
  .recipe-nav nav div {
    padding: 0;
    margin: 0;
  }

  .recipe-nav nav div:hover{
    padding: 2px 6px;
  }

  nav ul li a{
      font-size: small;
      margin: 1em;
    }

    nav{
      margin-left: 2px;
    }

    h2{
      font-size: larger;
      float: right;
    }

    .search_box button{
      padding: 6px 8px;
    }

    .search_box input {
      padding: 5px;
    }

    .card-container{
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 equal columns */
  grid-template-rows: auto auto; /* 2 rows */
  gap: 10px;
}


}

.main-container{
  position: absolute;
  min-width: 100%;
  top: 100%;
  margin-top: 5.5em;
  object-fit: cover;
  z-index: 1;
}

.card-container{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  gap: 2em;
  padding: 1em;
  background-color: white;
  border-top: 1px solid black;
}

.card-container > div {
  box-shadow: 1px 1px 10px black;
  padding: 1em 1em;
}

.card-container h3{
  text-align: center;
}

.card-container div > p{
  padding-left: 2em;
}

.card-container button{
  margin-left: 45%;
  padding: 0.5em;
  font-weight: bolder;
  border: none;
  border-radius: 0.3em;
  background-color: orange;
  box-shadow: 2px 2px 4px black;
}

.card-container button:hover{
  background-color: rgb(248, 190, 81);
}

figcaption{
  font-weight: bolder;
}
